  <div class="media author container text-center mt-5">
    <div class="media-body">

      <h3>Share</h3>
      <h1>
        <a aria-label="Share on Twitter" href="https://twitter.com/intent/tweet?text={{ page.title }} %20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.twitter_username }}&hashtags={% for tag in page.tags %}{{tag}},{% endfor %}" class="twitter" style="color:#53A7E7;" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share on Twitter">
              <i class="fab fa-twitter"></i>
            </a>

            <a aria-label="Share on Reddit" href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&feature=share&title={{ page.title }}" class="reddit" style="color:#D09966;" onclick="window.open(this.href, 'reddit-share','width=580,height=296');return false;" title="Share on Reddit">
              <i class="fab fa-reddit"></i>
            </a>

            <a aria-label="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share on Facebook" class="facebook" style="color:#4267B2;">
              <i class="fab fa-facebook"></i>
            </a>
            
            <a aria-label="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source=LinkedIn" class="linkedin" style="color:#729fcf;" onclick="window.open(this.href, 'linkedin-share','width=580,height=296');return false;" title="Share on LinkedIn">
              <i class="fab fa-linkedin"></i>
            </a>
      </h1>

      <hr class="dotted">

    </div>
  </div>


<!-- POSTS RELACIONADOS -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
style="display:block"
data-ad-format="autorelaxed"
data-ad-client="ca-pub-2838251107855362"
data-ad-slot="9652691879"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

