<div id="main" class="container">

  <br>

  <div class="row jumbtron text-center">
    <div class="col">
      <h1>{{ post.title }}</h1> 
      <h3>{{ page.description }}</h3>
      <!--<h3>Aqui também precisaremos incluir section/article para ficar dentro do padrão SEO.</h3>-->
    </div> 
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-12">

      {{ content }}

      <hr>

      <button class="btn btn-dark">#cpp</button>
      <button class="btn btn-dark">#lua</button>

      <hr>

      {% include ads.html %}

      <hr>

      {% include comments.html %}

    </div><!--col-lg-12-->
  </div><!-- ROW -->

  <hr>

</div> <!-- #MAIN CONTAINER -->
