<nav class="navbar navbar-expand-lg navbar-light">
<div class="container">
  <a class="navbar-brand" title="{{ site.baseurl }}" href="{{ site.baseurl }}">
    <span class="logo">TERMINAL ROOT</span>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarScroll">
    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
      {% for link in site.links %}
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ link.url }}">{{ link.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <div class="theme-switch-wrapper d-flex">
      <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox" onclick="toggleTheme()">
        <div class="slider round"></div>
      </label>
    </div>

    <a class="d-flex nav-link navbar-brand active" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"> 
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>
    </a>
  </div>
</div>
</nav>

{% include search.html %}
