      <div id="main" class="container">

        <br>

        <div class="row jumbtron text-center">
          <div class="col">
            <h1 class="logo"><!-- <img src="./assets/img/logo.png" alt="" class="img-fluid" width="40"> -->TERMINAL ROOT</h1>
            <h3 class="description">A little much about C++, Operating Systems, Programming and Web Development.</h3>

            <p>
            <!-- MINI ADS -->
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Games Root -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:730px;height:95px"
                 data-ad-client="ca-pub-2838251107855362"
                 data-ad-slot="5351066970"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            </p>
          </div> 
        </div>

        <br>

        <div class="row">
          <div class="col-lg-12">

            {% for post in site.posts %}
            <div class="card">
              <div class="card-header">
                {% for tag in post.tags %}
                <a href="{{ base.url }}tags/#{{ tag | slugify }}"><span class="badge text-dark">#{{ tag }}</span></a>
                {% endfor %}
              </div>
              <div class="card-body">
                <h2 class="card-title">
                  <a href="{{ post.url }}" class="a-card">{{ post.title }}</a>
                </h2>
                <p class="card-text">
                <time style="font-style:oblique; color:#7391ab" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time><br>
                <a href="{{ post.url }}" class="a-card">{{ post.description }}</a>
                </p>
                <a href="{{ post.url }}" class="btn btn-custom">Read more</a>
              </div>
              <div class="footer-card"></div>
            </div><!-- CARD -->
            {% endfor %}

          </div><!--col-lg-12-->
        </div><!-- ROW -->

        <hr>
        
     </div> <!-- #MAIN CONTAINER -->
