<hr>
	<div id="share-bar">
		
	<br>

	    <div class="share-buttons text-center">

					<a  href="https://www.facebook.com/sharer/sharer.php?u=https://terroo.github.com{{ page.url }}"
							onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
							title="Share on Facebook" >
							<i class="fa fa-facebook-official share-button"> facebook</i>
					</a>

					<a  href="https://twitter.com/intent/tweet?text={{ page.title }}&url=https://terroo.github.com{{ page.url }}"
							onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
							title="Share on Twitter" >
							<i class="fa fa-twitter share-button"> twitter</i>
					</a>

					<script src="https://apis.google.com/js/platform.js" async defer></script>
					<a  href="https://plus.google.com/share?url=https://terroo.github.com{{ page.url }}"
							onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
							title="Share on Google+" >
							<i class="fa fa-google-plus share-button"> google</i>
					</a>
		
	    </div>

	</div>
<br>
