<div class="col-md-3 stick-top">


    <div class="position-sticky fixed-top">
      <div class="card text-white bg-dark social text-center">
        <h5 class="card-header">Compartilhe <i class="fas fa-heart text-danger"></i></h5>
        <div class="card-body">
          <h3 class="card-text">

            <a aria-label="Compartilhe no Twitter" href="https://twitter.com/intent/tweet?text={{ page.title }} %20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.twitter_username }}&hashtags={% for tag in page.tags %}{{tag}},{% endfor %}" class="twitter" style="color:#53A7E7;" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Compartilhe no Twitter">
              <i class="fab fa-twitter"></i>
            </a>

            <a aria-label="Compartilhe no Reddit" href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&feature=share&title={{ page.title }}" class="reddit" style="color:#D09966;" onclick="window.open(this.href, 'reddit-share','width=580,height=296');return false;" title="Compartilhe no Reddit">
              <i class="fab fa-reddit"></i>
            </a>

            <a aria-label="Compartilhe no Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Compartilhe no Facebook" class="facebook" style="color:#4267B2;">
              <i class="fab fa-facebook"></i>
            </a>
            
            <a aria-label="Compartilhe no LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source=LinkedIn" class="linkedin" style="color:#729fcf;" onclick="window.open(this.href, 'linkedin-share','width=580,height=296');return false;" title="Compartilhe no LinkedIn">
              <i class="fab fa-linkedin"></i>
            </a>

          </h3>
        </div>
      </div>
      <div class="card text-white bg-dark adsense-square mt-1">
        <div class="card-body">

            <!-- QUADRADO -->
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
            style="display:inline-block;width:215px;height:280px"
            data-ad-client="ca-pub-2838251107855362"
            data-ad-slot="5351066970"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>  

        </div>
      </div><!-- ADSENSE-SQUARE  -->

      <div class="card text-white bg-dark outro-sidebar mt-1">
        <div class="card-body">

              <a href="https://www.youtube.com/TerminalRootTV?sub_confirmation=1">
                <img src="/assets/img/site/inscreva.jpg" class="img-fluid" alt="Inscreva-se!">
              </a>
 
        </div>
      </div><!--INSCREVA_SE  -->

      <div class="card text-white bg-dark adsense mt-1">
        <div class="card-body">

            <!-- VERTICAL -->
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Games Root -->
            <ins class="adsbygoogle"
            style="display:inline-block;width:215px;height:610px"
            data-ad-client="ca-pub-2838251107855362"
            data-ad-slot="5351066970"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

        </div>
      </div><!-- ADSENSE-VERTICAL  -->
    </div>


</div><!-- COL-MD-3  -->
