/* MAIN.css */
@font-face {
  font-family: Dosis;
  src: url(../fonts/dosis.otf);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

div a.logo {
  text-transform: uppercase;
  font-weight: bold;
 }

.col-lg-2 {border: 1px solid silver; margin-top: .75rem;}

.card {margin-top: .75rem;}
.card-title > .a-card { color: #2764ab !important; text-decoration: none;}
.card-text > .a-card { font-style: oblique; }
.description { font-style: oblique; color: #7391ab; }
.card a { color: #333; text-decoration: none;}
.card a:hover {text-decoration: underline;}

figure {
  padding: .2rem .4rem;
  font-size: 1.3em;
  color: #fff;
  background-color: #212529;
  border-radius: .2rem;
}

.img-post-page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 2rem;
}

footer a.social {
  margin: .540rem;
  color: #333;
}

footer .social:hover svg {
  color: #7391ab;
}

a.btn-custom {
  background-color: transparent;
  border: 1px solid #bfd0df !important;
}

a.btn-custom:hover {
  color: #333;
  background-color: #7391ab;
  font-weight: bold;
}

.card-header {
  background-color: transparent;
}

a span.bg-light { border: 1px solid #333; }

.sidebar {
  max-height: 600px;
  border:none;
}

div.card {
  border-radius: 0;
  /*border-bottom: 1px solid #0b0b18;
  -webkit-box-shadow: 0px 1px 15px -4px rgba(11,11,24,0.78); 
  box-shadow: 0px 3px 3px -4px rgba(11,11,24,0.78);*/
  /*background: linear-gradient(90deg, rgb(255, 129, 0), rgb(255, 248, 36), rgb(138, 255, 138), rgb(10, 187, 255), rgb(204, 61, 230));*/
}

div.footer-card {
  padding: 2px;
  background: linear-gradient(90deg, rgb(255, 129, 0), rgb(255, 248, 36), rgb(138, 255, 138), rgb(10, 187, 255), rgb(204, 61, 230));
}

a span.badge {
  border: 1px solid #161625;
  background-color: #e5edf4;
}
a span.badge:hover { background-color: #bfd0df;}


.article .col h3 {
 color:#54626b;
}

.article .col time {
 font-style:oblique; 
}

.article .row .col-lg-12 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  height: auto;
}

.article pre {
  padding: 1rem 1rem 0 1rem;
}

.article p {
  font-size: 1.4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.article > .row > .col-lg-12 > p > code {
  background-color: #212529;
  color: #fff;
  padding: 0.3rem;
  border-radius: 5px;
}

.article blockquote {
  padding: 0 1em;
  border-left: 0.25em solid #ccc;
  display: block;
  color: #677178;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.logo {
  font-family: Dosis;
  font-weight: bold;
 }

.col-ads {
  max-height: 700px;
}

.a-tag {
  font-size: 24px;
  text-decoration: none;
  margin: 5px 0;
}

.a-tag:hover {
  text-decoration: underline;
}

.main-tag {
  padding-left: 5px;
  border-left: 4px solid #333;
}

.main-tag h3 { border-bottom: 1px solid; }

.mySearch {cursor: url(/assets/img/terroo/search.svg), auto;}
#mySearch {background: #333; opacity: 0.8;}
#search-input {width: 80%; border: none;border-bottom: 2px solid #0b0b18;}
#search-input[type=text] {background: transparent;color: #2764ab; font-weight: bold;}
#search-input[type=text]:hover {background:transparent;}
#search-input[type=text]:focus {background:transparent;}
.modal-header {border:none;}
button.close {color: #0b0b18; font-size: 60px;}
#search-input::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}

#search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
}

#search-input::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff;
}
#results-container {width: 80%; margin: auto; margin-top: 10px; text-align: left;}
#results-container li a {color: #2764ab; font-weight: bold; margin-bottom: 1px; font-family: 'Dosis', sans-serif; font-size: 18px;}
#results-container li a:hover {color: #729fcf;}
.modal-content {background-color: transparent; border:none;}
