---
layout: page
title: "#Tags"
permalink: /tags/
description: "Assuntos separados por #Tags."
---

<div class="container my-5 py-5 tags-page">

  {% for tag in site.tags  %}
  <div class="list-group bg-dark text-white my-5 main-tag">

      <h3 id="{{ tag[0] | slugify }}" class="list-group-item list-group-item-action text-white text-center text-uppercase">
        {{ tag[0] }}
      </h3>

          {% assign pages_list = tag[1] %}
          {% for post in pages_list reversed %}
              {% if post.title != null %}
              {% if group == null or group == post.group %}
              <a href="{{ site.url }}{{ post.url }}" class="list-group-item list-group-item-action bg-dark text-white d-flex justify-content-between">
                {{ post.title }}
                <span class="badge badge-light badge-pill" id="{{ tag[0] | slugify }}">
                  <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>
                </span>
              </a>

              {% endif %}
              {% endif %}
          {% endfor %}
          {% assign pages_list = nil %}
          {% assign group = nil %}
  </div>
  {% endfor %}
</div>
