{% include head.html %}
  <body>

    <amp-auto-ads type="adsense"    
            data-ad-client="ca-pub-2838251107855362">    
    </amp-auto-ads>    

     <div id="app">
{% include header.html %}

<div id="main" class="container article">

  <br>

  <div class="row jumbtron text-center">

    <div class="col">
      <h1>{{ page.title }}</h1> 
      <h3>{{ page.description }}</h3>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      <hr>
      <div class="top-ads">
        
        <!-- MINI ADS -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Games Root -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:730px;height:95px"
             data-ad-client="ca-pub-2838251107855362"
             data-ad-slot="5351066970"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

      </div>

    </div> 
  </div>


  <div class="row">
    <div class="col-lg-12">

      {{ content }}

      {% include tags-footer.html %}
      {% include ads.html %}
      <hr>
      {% include comments.html %}

    </div><!--col-lg-12-->
  </div><!-- ROW -->

  <hr>

</div> <!-- #MAIN CONTAINER -->


{% include footer.html %} 
