<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container mb-1 pb-1">
      <div class="row mt-5 intro">
        <div class="col-sm-12 text-center px-5">
          <h2 class="pt-5 pb-1">
            <span class="intro-title">{{ page.title }}</span>
          </h2>
          <h4 class="py-3">{{ page.description }}</h4>
          <p class="oblique">
          <i class="fas fa-calendar oblique"></i>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
          </p>
          <p>
          <!-- MINI ANÚNCIO -->
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Games Root -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:730px;height:95px"
               data-ad-client="ca-pub-2838251107855362"
               data-ad-slot="5351066970"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          </p>
        </div>
      </div>
      <hr>
    </div> <!-- CONTAINER INTRO -->

    <div class="container mt-1 pt-1 artigo">
      <div class="row">
        <div class="col-md-12">

          {{ content }}

          {% include tags-footer.html %}

          {% include share-channel.html %}

          {% include author.html %}

          {% include relacionados.html %}

          <hr>

        </div>


        <!-- sidebar.html -->

      </div><!-- ROW ARTIGO -->

    </div>
    </div><!-- CONTAINER ARTIGO  -->

    {% include footer.html %}

  </body>
</html>
